#webform-components-form .tabledrag-toggle-weight-wrapper {
    display: none;
}
table#webform-components th:nth-child(2), table#webform-components th:nth-child(4), table#webform-components th:nth-child(5) {
    display: none;
}
table#webform-components td.webform-component-formkey,.webform-component-value,.webform-component-required {
    display: none;
}

table .tabledrag-hide { 
  display: none;
}
